@use "_variables";

.counterContainer {
    font-size: 50;
    text-align: center;
    margin-top: 2rem;
    input {
        width: 20rem;
        font-size: 2rem;
    }
    h2 {
        font-size: 3rem;
        color: firebrick
        
    }
}

.buttonContainer {
    display: flex;
    justify-content: center;
    gap: 20;
    margin-top: 1rem;

    button {
        margin: 1rem;
    }
}
